.container {
  width: 1100px;
  margin: 0 auto;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar {
  /* border: 3px solid red; */
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* justify-content: space-around; */
}
.shop{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-links {
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.logo-link {
  display: flex;
  gap: 20px;
}

.header {
  background-image: url(./Header.png);
}
.header-content{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  color: #ffffff;
  font-size: 80px;
}
.header button{
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  padding: 13px 14px;
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}



.comfort {
  display: flex;
  justify-content: space-evenly;
  background-color:rgb(20, 20, 20);
  padding-top: 30px;
}
.comfort-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.comfort-content img{
  max-height:408px;
}
.matn {
  color: #ffffff;
  width: 538px;
  height: 135px;
  font-weight: 500;
  font-size: 22px;
}
.comfort img {
  width: 552px;
  height: 335px;
}
.product{
  background-color:rgb(20, 20, 20) ;
  padding-top: 79px;
  display: flex;
  justify-content: center;

}
.fooder{
  background-color:rgb(20, 20, 20)  ;
}
.container fooder{
  
}
